.container {
	width: 100%;
	height: 100vh;
	background: var(--main-bg);
	color: var(--font);
	/* box-sizing: border-box; */
}

.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	z-index: 10;
}

.content {
	z-index: 10;
	padding: 0rem 7rem;
	background: radial-gradient(circle at 70vw, #ffffff00, var(--main-bg) 55%, var(--main-bg) 75%, var(--main-bg) 100%);
	width: 100%;
}

.head {
	font-size: 2.1rem;
	box-sizing: border-box;
	margin: 120px 0;
	animation: head 1s cubic-bezier(0, 1, 1, 1);
	animation-iteration-count: 1;
}

.points > p:nth-child(1) {
	font-size: 1rem;
	padding-left: 15px;
	animation: point 1s cubic-bezier(0, 0.5, 0.5, 1);
	animation-iteration-count: 1;
}
.points > p:nth-child(2) {
	font-size: 1rem;
	padding-left: 25px;
	animation: point 1.4s cubic-bezier(0, 0.5, 0.5, 1);
	animation-iteration-count: 1;
}
.points > p:nth-child(3) {
	font-size: 1rem;
	padding-left: 35px;
	animation: point 1.8s cubic-bezier(0, 0.5, 0.5, 1);
	animation-iteration-count: 1;
}
.points > p:nth-child(4) {
	font-size: 1rem;
	padding-left: 45px;
	animation: point 2.2s cubic-bezier(0, 0.5, 0.5, 1);
	animation-iteration-count: 1;
}

.points > p::before {
	font-family: "FontAwesome";
	content: "\f105";
	padding-right: 8px;
}
.points > p:last-child::before {
	content: "";
}

.hoem {
	position: absolute;
	top: 0;
	right: 0;
	display: inline;
}

.hoem1,
.hoem2,
.hoem3,
.hoem4 {
	animation-iteration-count: 1;
	width: inherit;
	box-sizing: border-box;
	right: 0;
	float: right;
}

.hoem1,
.hoem3 {
	/* transform: translateX(5%); */
	animation: hoem-left 2s cubic-bezier(0, 0.3, 0.3, 1);
}
.hoem2,
.hoem4 {
	/* transform: translateX(15%); */
	animation: hoem-left 2.4s cubic-bezier(0, 0.3, 0.3, 1);
}

@keyframes point {
	from {
		-webkit-transform: translateY(-15%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes head {
	from {
		transform: translateY(-100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes hoem-left {
	from {
		transform: translateX(80%);
	}
	to {
		transform: translateX(0%);
	}
}

.loginButton {
	margin-top: 45px;
	width: 15%;
	height: 100px;
	display: flex;
	padding-left: 45px;
	flex-direction: column;
	align-items: center;
	animation: login 0.5s linear;
}

@keyframes login {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

.loginButton button {
	box-sizing: border-box;
	width: 100%;
	height: 55px;
	font-size: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
	font-weight: 600;
	color: var(--main-bg);
	background: var(--font);
	border: #ffffff00;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 0px 10px var(--font);
}

.loginButton button:after {
	content: "LOGIN /\00a0SIGNUP";
}

.loginButton div {
	position: relative;
	transform: translateY(-100%);
	transition: all 0.3s ease-in;
	opacity: 0;
}

.loginButton:hover button:after {
	content: "LOGIN";
}

.loginButton:hover div {
	display: inline;
	transform: translateY(0%);
	opacity: 1;
	padding-top: 2px;
	color: var(--font);
	font-size: 18px;
}

.loginButton span {
	text-decoration: underline;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.content {
		padding: 0rem 1rem;
	}
}

@media (max-width: 768px) {
	.hoem1,
	.hoem2,
	.hoem4 {
		display: none;
	}
	.hoem3 {
		animation: hoem-right 7s cubic-bezier(0.01, 0.42, 0.6, 1.35);
		transform: translateX(65%);
	}
	@keyframes hoem-right {
		from {
			transform: translateX(-40%);
		}
		to {
			transform: translateX(65%);
		}
	}
	.head {
		margin: 270px 0 45px 0;
	}
	.content {
		padding: 0rem 1rem;
		background: linear-gradient(#ffffff00, var(--main-bg));
	}
	.loginButton {
		width: 80%;
		animation: none;
	}
	.loginButton button:after {
		content: "LOGIN";
	}
	.loginButton:hover button:after {
		content: "LOGIN";
	}
	.loginButton div {
		position: relative;
		bottom: -8px;
		opacity: 1;
		transform: none;
	}
}
